.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: scroll;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000; 
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.fixedContainer {
    display: flex;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1300;
}

.spacer-s{ height: 50px; }

.spacer-m{ height: 100px; }

.spacer-l { height: 207px; }